.equipmentFormCard {
    font-family: KHMenu;
    text-align: center;
    background-color: #343A40;
    width: 30rem;
    padding: .75rem 1rem;
    padding-top: 0;
    position: relative;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0rem 0rem .5rem black;
    grid-row: span 15;
    max-height: 98vh;
    overflow-y: auto;
}

.equipmentFormCardHeader {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.equipmentFormCardHeader .close {
    position: relative;
    width: 1.9rem;
    height: 1.9rem;
    top: 0;
    right: 0;
}

.equipmentFormName {
    grid-column: span 2;
    font-size: 1.75rem;
}

.equipmentFormImageColumn {
    background-color: #343A40;
    z-index: 10;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: .5rem;
}

.equipmentFormImage {
    width: 12rem;
    height: 12rem;
    margin-top: 0;
    margin-bottom: 0;
}

.equipmentFormAbility {
    font-size: 1.5rem;
    width: 20rem;
    margin: auto;
}

.equipmentFormReward {
    display: grid;
    grid-template-columns: max-content max-content 1fr 1fr;
    gap: 1rem;
}

.equipmentStats {
    display: grid;
    grid-template-columns: max-content 1fr 8rem;
    gap: 1rem;
    text-align: start;
    padding: 0rem .5rem;
}

.equipmentFormCard.all.editing .equipmentStats {
    grid-template-columns: max-content max-content 1fr 8rem;
}

.equipmentFormCard.all.editing>.equipmentFormAbility {
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
}

.equipmentStatName,
.equipmentStatValue {
    font-size: 1.25rem;
}

.equipmentStatValue {
    font-family: KHGummi;
    padding-right: 1rem;
    /* width: 7rem; */
    text-align: end;
}

.equipmentInputField {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #888;
    outline: none;
    color: #FFFFFF;
    background-color: transparent;
    /* font-size: 1.25rem; */
    padding: 0;
}

.equipmentInputField:disabled {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #888;
    outline: none;
    color: #666666;
}

.equipmentReplaceButtonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0rem 1rem 1rem;
}

@media(max-width: 90rem) {}

@media(max-width: 65rem) {}

@media(max-width: 48rem) {}