.equipmentFormCard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    background-color: #343A40;
    padding: .75rem 1rem;
    position: relative;
    margin: 0;
    border-radius: 1rem;
    box-shadow: 0rem 0rem .5rem black;
    gap: .5rem;
}

.equipmentFormReward {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.equipmentFormReward>button{
    grid-column: 1 / 3;
}

.equipmentReplaceButtonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0rem 1rem 1rem;
}

.equipmentLabel {
    font-size: 1.5rem;
}

.equipmentFormImage {
    width: 10rem;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.allEquipmentInput {
    display: grid;
    grid-template-columns: 8% 25% 17% 8% 25% 17%;
}

.allequipmentFormRewardRow {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.equipmentAbilityLabel {
    text-align: center;
}

@media(max-width: 90rem) {
    .allEquipmentInput .equipmentLabel {
        font-size: 1.25rem;
        text-align: start;
    }

    .allEquipmentInput .three-digit-input {
        font-size: 1rem;
    }
}

@media(max-width: 65rem) {
    .equipmentFormName {
        font-size: 2rem;
    }

    .equipmentFormImage {
        width: 7rem;
    }

    .equipmentLabel {
        font-size: 1rem
    }

    .equipmentAbilityLabel {
        margin-top: 0.6rem;
    }

    .equipmentInputField {
        padding: 0 .25rem;
        margin: 0 .5rem;
    }

    .allEquipmentInput {
        grid-template-columns: 20% 50% 30%;
    }
}

@media(max-width: 48rem) {
    .equipmentInput {
        grid-template-columns: 55% 45%;
    }

    .equipmentReplaceButtonGroup {
        flex-direction: column;
    }
}