.equipmentPageContent {
  display: grid;
  grid-template-columns: 1fr max-content;
  height: 98vh;
  padding: 0 .5rem .5rem .5rem;
}

.equipmentPageContent .pageHeader {
  grid-column: span 2;
}

.equipmentCardList {
  list-style-type: none;
  overflow-y: auto;
  padding: 1rem;
  grid-row: span 16;
}

.equipmentCard {
  font-family: 'KHMenu';
  font-Size: 1.25rem;
  background-color: #343A40;
  display: grid;
  grid-template-columns: 18rem 1fr max-content;
  gap: .5rem;
  padding: 1rem 1.5rem 1rem 2rem;
  margin: .5rem 0 2rem 0;
  border-radius: 2rem;
  border: solid .25rem #F0000000;
  box-shadow: .25rem .25rem .5rem black;
  position: relative;
}

.equipmentCard.hovered,
.equipmentCard:hover {
  border-color: #900000;
}

.equipmentCard.selected {
  border-color: #009000;
}

.equipmentTypeIcon.iconDescription {
  width: 15rem;
}

.equipmentAbilityIcon.iconDescription {
  width: 15rem;
}

.equipmentStatIcon.iconDescription {
  font-family: KHMenu;
  padding-right: 2rem;
  width: 3rem;
}

.equipmentCardStats {
  grid-column-start: 2;
  font-size: 1.25rem;
  display: grid;
  /* grid-template-columns: repeat(24, max-content); */
  grid-template-columns: repeat(8, max-content);
  row-gap: .25rem;
}

.cardEditIcon {
  grid-column-start: 3;
  grid-row-start: 1;
  border-radius: 5rem;
  aspect-ratio: 1;
}

.opaque {
  opacity: .1;
}

@media(max-width: 90rem) {}

@media(max-width: 65rem) {
  .equipmentCard {
    grid-template-columns: 18rem 1fr;
  }

  .equipmentCardStats,
  .equipmentCardDetails {
    grid-column-start: 1;
  }

  .cardEditIcon {
    grid-column-start: 2;
    padding: 0;
  }
}

@media(max-width: 48rem) {}