.startingStuffFormCard {
    font-family: KHMenu;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #343A40;
    padding: .75rem 1rem;
    position: relative;
    margin: 0;
    border-radius: 1rem;
    box-shadow: 0rem 0rem .5rem black;
}

.startingStuffReplaceButtonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0rem 1rem 1rem;
}

.startingStuffInputGroup {
    text-align: start;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 15rem max-content 1fr max-content;
    row-gap: .5rem;
    padding: 0 1rem;
}

.startingStuffInputGroup .statValue {
    font-family: KHGummi;
    text-align: start;
    font-size: 1.5rem;
    padding: 0 1rem;
    margin: 0 1rem;
    color: #FFF100;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    width: 10rem;
}

.startingStuffInputGroup .statValue.new {
    color: #63C6F5;
}

.startingStuffInputGroup span.statValue:hover {
    border-color: black;
}

.startingStuffInputGroup .statValueInputField {
    color: black;
}

.editIcon {
    border-radius: 50%;
    border: 1px solid transparent;
    padding: .75rem;
    width: 3rem;
}

.editIcon.isHidden {
    visibility: hidden;
}

.startingStuffLabel {
    font-size: 1.5rem;
    text-align: start;
}

.startingStuffCurrentStatLabel {
    font-family: KHGummi;
    color: #FFF100;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.startingStuffLabel.small {
    display: none;
}

@media(max-width: 90rem) {
    .allEquipmentInput .equipmentLabel {
        font-size: 1.25rem;
        text-align: start;
    }

    .allEquipmentInput .three-digit-input {
        font-size: 1rem;
    }
}

@media(max-width: 65rem) {
    .startingStuffFormName {
        font-size: 2rem;
    }

    .startingStuffLabel.small {
        display: block;
    }

    .startingStuffLabel.large {
        display: none;
    }
}

@media(max-width: 48rem) {
    .equipmentInput {
        grid-template-columns: 55% 45%;
    }

    .equipmentReplaceButtonGroup {
        flex-direction: column;
    }
}