.costPageHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding: 1rem 0rem;
    gap: 1rem;
}

.costCardGrid {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0rem 1rem 1rem 1rem;
    height: 87vh;
    gap: 3rem;
}

.costGridGroup {
    display: grid;
    grid-template-columns: 15rem 1fr;
}

.abilityHeader {
    grid-column: span 2;
}

.costCategoryImage {
    grid-row: span 4;
}

.costCard {
    font-family: KHMenu;
    position: relative;
    display: grid;
    grid-template-columns: 15rem auto 1fr max-content;
    align-items: center;
    background-color: #343A40;
    padding: .5rem .5rem .5rem 6rem;
    margin: 1rem 0;
    border-radius: 1rem;
    box-shadow: 0rem 0rem .5rem black;
    gap: .25rem;
}

.costCardImage {
    border-radius: .75rem;
    width: 10rem;
}

.costAbilityName {
    font-size: 1.5rem;
    padding: 1rem 0rem;
}

.specificAbilityName {
    text-align: start;
    font-size: 1.5rem;
    padding-top: .5rem;
}

.specificAbilityCost {
    font-family: KHGummi;
    text-align: start;
    font-size: 1.5rem;
    padding: 0 1rem;
    margin: 0 1rem;
    color: #FFF100;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    width: 10rem;
}

.specificAbilityCost.new {
    color: #63C6F5;
}

span.specificAbilityCost:hover {
    border-color: black;
}

.costInputField {
    color: black;
}

.costEditIcon {
    border-radius: 50%;
    border: 1px solid transparent;
    padding: .75rem;
    width: 3rem;
}

.costEditIcon.isHidden {
    visibility: hidden;
}

@media(max-width: 90rem) {
    .costCardImage {
        border-radius: .75rem;
        width: 7rem;
    }
}

@media(max-width: 65rem) {
    .costCardGrid {
        grid-template-columns: repeat(4, 1fr);
    }

    .costAbilityName {
        font-size: 1rem;
    }

    .costCardReward {
        font-size: 1.25rem;
    }
}


@media(max-width: 48rem) {
    .costCardGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}