.homePageHeader {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.homePageHeader>img {
    grid-column-start: 2;
    grid-row: 1/3;
}

.homePageNavbarIcon {
    display: flex;
    grid-column-start: 3;
}

.homePageKofi {
    display: flex;
}

.homePageContent {
    margin: 0 2rem;
}

.homePageText {
    font-family: KHMenu;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100rem;
    margin: auto;
}

.homePageDetails {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 5rem;
}

.homePageDetails ul {
    list-style-type: none;
    padding-left: 0;
}

.homeTabGroup {
    display: flex;
    flex-direction: column;
}

.allHomeTabs {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
}

.homePageSections {
    display: grid;
    grid-template-columns: 10fr 9fr;
    gap: 3rem;
}

.homePageButtonGroup {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
}

@media(max-width: 65rem) {
    .homePageDetails {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 48rem) {}