.bonusPageContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.bonusFightList {
  width: 30rem;
}

@media(max-width: 91rem) {
  .bonusReward {
    font-size: 1rem;
  }

  .bonusHeader {
    padding-left: 6rem;
    font-size: 2rem;
  }

  .bonusCharacter {
    font-size: 1rem;
  }

  .bonusButtonGroup {
    width: 70%;
  }

  .bonusButton {
    font-size: .7rem;
  }

  .smallBonusRewardBox {
    height: 2.25rem;
    font-size: .75rem;
  }

  .bigBonusRewardBox {
    border-bottom-left-radius: 3.5rem;
    font-size: .75rem;
  }
}

@media(max-width: 66rem) {
  .bonusFightList {
    width: 80px;
  }
}

@media(max-width: 53rem) {
  .bonusRewardList {
    display: none;
  }

  .smallBonusRewardList {
    display: block;
  }

  .bonusCharacter {
    display: none;
  }

  .bonusButtonGroup {
    width: 90%
  }
}