.formFormCard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    background-color: #343A40;
    padding: .25rem .75rem;
    margin: 1rem 0;
    border-radius: 1rem;
    box-shadow: 0rem 0rem .5rem black;
    width: 100%;
}

.formReplaceButtonGroup {
    display: flex;
    gap: 1rem;
    padding: 0rem 1rem 1rem;
}

.formFormCard label {
    font-size: 1.5rem
}

.allFormRewardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.allFormOptionRow {
    display: flex;
}

.allFormSwitch {
    width: 10%;
    margin-top: .6rem;
}

.allFormLabel,
.allFormInput {
    width: 45%;
}


@media(max-width: 90rem) {}

@media(max-width: 65rem) {
    .allFormOptionRow {
        flex-wrap: wrap;
    }
    .allFormLabel {
        width: 80%;
    }
    .allFormInput {
        width: 100%;
    }
}

@media(max-width: 48rem) {}