.informationBox {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #363636;
    border-radius: 0 2rem 2rem 0;
    width: 92vw;
    padding-right: 1rem;
    padding-left: .25rem;
    margin-top: .5rem;
    box-shadow: inset 0rem .1rem .1rem rgba(255, 255, 255, .5),
        0rem .1rem .5rem black;
}

.fadeBox {
    position: absolute;
    height: 4rem;
    width: 3rem;
    top: 1.75rem;
    left: 3px;
    background-image: linear-gradient(to left,
            rgba(54, 54, 54, 0),
            rgba(54, 54, 54, 1) 100%);
}

.creditsLabelGroup {
    font-family: KHGummi;
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    margin-top: .5rem;
}

.creditsLabel {
    background-color: black;
    color: #e9e9b9;
    border: 0;
    border-top-left-radius: 2rem;
    margin: .25rem 0 .25rem .25rem;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.labelAfterTriangle {
    margin: .25rem 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.6rem 2rem 0 0;
    border-color: black transparent transparent transparent;
}

.labelAfterTail {
    margin: .25rem 0;
    margin-left: -.4rem;
    width: 1rem;
    height: .5rem;
    background: black;
}

.creditList {
    background-color: black;
    border-radius: 0 1rem 1rem 0;
    width: 100%;
    margin: .25rem 0;
}

.credit {
    display: flex;
    padding: 0 3rem;
    font-family: KHMenu;
    font-size: 1.25rem;
    text-shadow: .05rem .05rem .1rem black;
}

.ClutchArtist {
    color: #C0432B;
}

.OriginalSquad {
    color: #3BA55D;
}

.BonafideBadass {
    color: #8F55A7;
}

.CoreCreator {
    color: #F1C40F;
}