.bonusCharacterSelectorGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bonusFormCard {
    font-family: 'KHMenu';
    /* width: 40%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #343A40;
    padding: .25rem .75rem;
    position: relative;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0rem 0rem .5rem black;
    grid-column-start: 2;
    grid-row: 2/7;
}

.bonusFormRewards {
    display: grid;
    gap: 1rem;
    grid-template-columns: max-content 50% 1fr;
}

.bonusFormReward {
    display: flex;
    align-items: center;
}

.bonusFormStats {
    display: grid;
    gap: 2rem;
    grid-template-columns: max-content 1fr max-content 1fr;
}

.bonusFormRewardLabel {
    font-size: 2rem;
}

.bonusReplaceButtonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0rem 1rem 1rem;
}

@media(max-width: 90rem) {}

@media(max-width: 65rem) {
    .bonusCharacterSelectorGroup {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 48rem) {}