/* General Utilities */

@font-face {
	font-family: 'KHGummi';
	src: local('KHGummi'),
		url('../fonts/KHGummi.otf') format('truetype');
}

@font-face {
	font-family: 'KHMenu';
	src: local('KHMenu'),
		url('../fonts/KHMenu.otf') format('truetype');
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex {
	display: flex;
}

.btn-block+.btn-block {
	margin-top: 0;
}


/* Main Page Appearance */
body {
	background-color: #222;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #fff;
	background-color: #222;
	border-color: #fff #fff #222;
}

a {
	color: #5af;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #8df;
	text-decoration: underline;
}

.pageHeader {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	padding: 1rem 0rem;
	gap: 1rem;
}

input {
	border-radius: .5rem;
	padding: 0 1rem;
	font-size: 1.5rem;
}

.genericSelect:disabled {
	background-color: #6C7075;
	color: #545454;
	border-color: #767676;
}

hr {
	border: 0;
	clear: both;
	display: block;
	width: 96%;
	background-color: #2F3439;
	height: 1px;
}

/* Modal Appearance */
.modal-content {
	color: #fff;
	background-color: #333;
}

.close {
	color: #fff;
	text-shadow: 0 1px 0 #000;
	opacity: .5;
	position: absolute;
	top: 0;
	right: 1rem;
}

/* Reward Selector Modal Appearance */
.rewardSelectorModal {
	width: 95vw;
	max-width: 95vw;
}

.rewardListItem>*,
.selectorListItem>* {
	pointer-events: none;
}

.card-body {
	/* max-height: 450px; */
	flex-wrap: wrap;
	overflow: auto;
}

.cardGrid {
	overflow-y: auto;
	height: 800px;
}

.accordion {
	border-bottom: 1px solid rgb(100, 100, 100);
}

.genericSelectorLabel {
	/* width: 15rem; */
	text-align: end;
	padding-left: 2rem;
	margin: .5rem 0;
}

.helpButton {
	width: 10rem;
}




/* @media(max-width: 90rem) {} */

@media(max-width: 66rem) {
	input {
		font-size: 1rem;
	}
}

/* @media(max-width: 48rem) {} */