@font-face {
	font-family: 'KHGummi';
	src: local('KHGummi'),
		url('../fonts/KHGummi.otf') format('truetype');
}

/* Main Page Appearance */
body {
	background-color: #222;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #fff;
	background-color: #222;
	border-color: #fff #fff #222;
}

a {
	color: #5af;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #8df;
	text-decoration: underline;
}

/* Modal Appearance */
.modal-content {
	color: #fff;
	background-color: #333;
}

.close {
	color: #fff;
	text-shadow: 0 1px 0 #000;
	opacity: .5;
}

/* Reward Selector Modal Appearance */
.rewardSelectorModal {
	width: 95vw;
	max-width: 95vw;
}

.rewardListItem>*,
.selectorListItem>* {
	pointer-events: none;
}

.card-body {
	/* max-height: 450px; */
	flex-wrap: wrap;
	overflow: auto;
}

.accordion {
	border-bottom: 1px solid rgb(100, 100, 100);
}

/* Bonus Card Appearance */
.getBonus {
	font-weight: 750;
	padding: 5px 15px;
	background-color: black;
	border: 1px solid black;
	border-radius: 30px 0 0 0;
	transition-duration: .1s;
}

/* Form Card Appearance */
.getFormLevel {
	font-weight: 750;
	padding: 5px 15px;
	background-color: black;
	border: 1px solid black;
	border-radius: 30px 0 0 0;
	transition-duration: .1s;
}