.cheatPageContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    font-family: KHMenu;
}

.cheatListItem {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
    align-items: center;
}

.selectorList {
    max-height: 80vh;
    overflow-y: auto;
}

.temp {
    font-family: KHGummi;
    font-size: 2rem;
    margin: auto;
}