.editStatusPopover {
    font-family: KHGummi;
    font-size: 0rem;
    text-shadow:
        -.1rem 0 .2rem #B05927,
        .1rem 0 .2rem #B05927,
        .1rem .1rem .2rem #B05927,
        -.1rem .1rem .2rem #B05927,
        .1rem -.1rem .2rem #B05927,
        -.1rem -.1rem .2rem #B05927;
    color: hsl(62, 60%, 49%);
    position: absolute;
    z-index: 2;
    top: 0;
    left: .5rem;
}

.editStatusPopover.chest,
.editStatusPopover.starting {
    font-size: 2rem;
}

.editStatusPopover.equipment,
.editStatusPopover.cost,
.editStatusPopover.bonus {
    font-size: 1.5rem;
}

.editStatusPopover.popup,
.editStatusPopover.level,
.editStatusPopover.form {
    font-size: 1rem;
}

/* @media(max-width: 90rem) {} */

@media(max-width: 65rem) {
    .editStatusPopover.chest {
        font-size: 1.75rem;
    }

    .editStatusPopover.equipment,
    .editStatusPopover.cost,
    .editStatusPopover.bonus {
        font-size: 1.25rem;
    }

    .editStatusPopover.popup,
    .editStatusPopover.level,
    .editStatusPopover.form {
        font-size: .75rem;
    }
}


@media(max-width: 48rem) {
    .editStatusPopover.chest {
        font-size: 1.5rem;
    }

    .editStatusPopover.equipment,
    .editStatusPopover.cost,
    .editStatusPopover.bonus {
        font-size: 1.25rem;
    }

    .editStatusPopover.popup,
    .editStatusPopover.level,
    .editStatusPopover.form {
        font-size: .75rem;
    }
}